.intro{
 margin: 10px;
}

.left{
  margin: 0 2rem;
  display: flex;
  justify-content: space-evenly;
  border: #979494 solid 1px;
}

.rightImage{
  width: 50% ;
  padding: 30px;
}
.left_text{
  background-color: #f1f0f0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  /* width: 50%; */
}